body, #menu {
  display: none;
}

html {
  -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
}

header {
  color: white;
  background-color: #15caac;
  box-shadow: 1px 1px 10px gray;
  padding: 50px 0px;
  text-align: center;
}

p {
  font-family: sans-serif;
}

#home {
  padding-top: 45px;
}

#job-title {
  font-size: 2rem;
  transition-duration: 0.5s;
  transition-property: opacity;
}

#name {
  font-size: 3rem;
}

#nav li {
  float: left;
  font-weight: 400;
  list-style: none;
  margin-right: 30px;
  text-transform: uppercase;
}

#nav ul {
  cursor: pointer;
  float: right;
  margin-bottom: 0px;
  position: relative;
  top: -20px;
}

#overlay {
  background: #000;
  display: none;
  height: 100%;
  opacity: .9;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9;
}

#project-info {
  margin-top: 50px;
}

#project-view {
  bottom:0;
  color:#FFF;
  left:100%;
  overflow-x:hidden;
  overflow-y:auto;
  position:absolute;
  right:0;
  transition-duration:.2s;
  transition-property:left;
  width:0;
  z-index:10;
}

.project img {
  box-shadow: 1px 1px 5px lightgrey;
  cursor: pointer;
}

@media (max-width: 720px){
  header {
    padding:0;
  }

  header.fix {
    padding-top:40px;
  }

  header.fix.collapse {
    position:fixed;
    width:100%;
  }

  #job-title {
    font-size:1rem;
  }

  #job-title.collapse {
    display:none;
  }

  #menu {
    display:block;
    float:right;
    font-weight:300;
    position:fixed;
    text-transform:uppercase;
    top:10px;
    z-index:2;
  }

  #name {
    font-size:2rem;
  }

  #name.fix {
    background-color:#15caac;
    box-shadow:0 5px 5px -5px grey;
    left:0;
    position:fixed;
    right:0;
    top:0;
    z-index:1;
  }

  #nav {
    background-color:#15caac;
    box-shadow:0 5px 5px -5px grey;
    display:none;
    left:0;
    padding:0 0 30px;
    position:fixed;
    right:0;
    top:40px;
    transition-duration:.5s;
    z-index:2;
  }

  #nav li {
    float:none;
    margin-right:0;
    padding:5px 0;
  }

  #nav li:hover {
    background-color:rgba(0,0,0,0.35);
  }

  #nav ul {
    clear:both;
    float:none;
    margin-bottom:1rem;
    margin-left:0;
    margin-right:0;
    position:relative;
    top:20px;
  }
}

