body {

}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

header {
  margin-top: 100px;
}

.project img {
  box-shadow: 1px 1px 5px lightgrey;
}

