$primaryGradient: #3c3c3c;
$secondaryGradient: #1d1d1d;
$mainColor: #f3f3f3;

body {
  background-color: $mainColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
}

header {
  background-color: #f3f3f3;
  padding: 50px 0 0;
  text-align: center;
}

html {
  -webkit-text-size-adjust: none;
}

ul {
  margin: 0;
}

li {
  list-style: none;
  margin-right: 30px;
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
}

#about {
  margin-bottom: 3rem;
}

#contact {
  margin-bottom: 20px;
}

#info {
  padding: 100px 0;
}

#job-title {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#name {
  font-size: 6rem;
  transition-duration: 0.2s;
  letter-spacing: 0.114943rem;
  font-weight: 100;
}

@media (max-width: 720px) {
  footer {
    bottom: 0;
    position: fixed;
    width: 100%;
  }

  header {
    background: linear-gradient(to right, $primaryGradient, $secondaryGradient);
    color: $mainColor;
    max-height: 74px;
    padding: 0;
    position: fixed;
    box-shadow: 1px 1px 10px gray;
    top: 0;
    width: 100%;
  }

  h3 {
    font-size: 1.5rem;
  }

  #about {
    margin-top: 2rem;
  }

  #contact {
    margin-bottom: 100px;
  }

  #home {
    padding-top: 60px;
  }

  #info {
    padding: 0;
    width: 100%;
  }

  #job-title {
    font-size: 1rem;
    position: relative;
  }

  #name {
    font-size: 2rem;
    /*height: 44px;*/
    left: 0px;
    margin-bottom: 0;
    width: 100%;
    z-index: 2;
  }

  #name.big {
    font-size: 2.25rem;
  }
}
