$primaryColor: #3c3c3c;
$secondaryColor: #1d1d1d;
$headlineTextColor: white;

body {
  background-color: #f3f3f3;
  display: none;
}

h1,
h2, {
  font-weight: 100;
}

h3,
h4,
h5,
h6,
body {
  font-weight: 300;
}

header {
  background: linear-gradient(to right, $primaryColor, $secondaryColor);
  box-shadow: 1px 1px 10px gray;
  color: $headlineTextColor;
  padding: 50px 0px;
  text-align: center;
}

html {
  -webkit-text-size-adjust: none;
}

li {
  display: inline-block;
  list-style: none;
  margin-right: 30px;
}

p {
  font-size: 1.25rem;
}

ul {
  text-align: center;
}

#about {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

#contact {
  margin-bottom: 20px;
}

#home {
  padding-top: 20px;
}

#info {
  padding: 100px 0;
}

#job-title {
  font-size: 2rem;
}

#name {
  font-size: 3rem;
}

#nav {
  color: $headlineTextColor;
  cursor: pointer;
  float: right;
  position: relative;
  top: -30px;
  font-weight: 100;
  font-size: 1.5rem;
}

#overlay {
  background: #000;
  display: none;
  height: 100%;
  opacity: .9;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9;
}

#projects {
  box-shadow: 1px 1px 5px lightgrey;
}

#project-info {
  margin-top: 50px;
}

#project-view {
  bottom: 0;
  color: $headlineTextColor;
  display: none;
  left: 100%;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  transition-duration: .2s;
  transition-property: left;
  width: 0;
  z-index: 10;
}

#screenshot img {
  margin: 40px 0;
}

#stack h3 {
  font-size: 1.25rem;
}

#stack li {
  transition-duration: 0.5s;
}

#stack li:hover {
  color: #1468a0;
}

#stack {
  cursor: default;
  margin-bottom: 3rem;
}

.image-text {
  margin-top: 80px;
  position: absolute;
}

.project img {
  cursor: pointer;
}

#projects {
  margin: 0 0 40px 0;
}

.project {
  transition-duration: 0.5s;
  transition-property: filter;
  margin: 0;
  padding: 0;
}

.project.filter {
  filter: brightness(50%);
}

@media (max-width: 720px) {
  footer {
    bottom: 0;
    position: fixed;
    width: 100%;
  }
  
  header {
    max-height: 74px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  h3 {
    font-size: 1.5rem;
  }
  
  #contact {
    margin-bottom: 100px;
  }
  
  #home {
    padding-top: 60px;
  }
  
  #info {
    padding: 0;
  }
  
  #job-title {
    font-size: 1rem;
    position: relative;
  }
  
  #name {
    font-size: 2rem;
    height: 44px;
    left: 0px;
    margin-bottom: 0;
    width: 100%;
    z-index: 2;
  }
  
  #nav li {
    display: block;
    float: left;
    list-style: none;
    margin: 0 15px;
    padding: 0;
    position: relative;
    right: 50%;
    font-size: 1.5rem;
  }
  
  #nav ul {
    clear: left;
    float: left;
    left: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
  }
  
  #nav {
    background: linear-gradient(to right, $primaryColor, $secondaryColor);
    bottom: 0;
    height: 40px;
    left: 0;
    position: absolute;
    right: 0;
    top: auto;
    user-select: none;
    width: 100%;
    z-index: 3;
  }
}
