html {
  -webkit-text-size-adjust: none;
}

body {
  display: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
}

#name {
  font-size: 3rem;
}

#job-title {
  font-size: 2rem;
  transition-duration: 0.5s;
  transition-property: opacity;
}

p {
  font-family: sans-serif;
}

#nav li {
  float: left;
  margin-right: 30px;
  list-style: none;
  text-transform: uppercase;
  font-weight: 400;
}

#nav ul {
  margin-bottom: 0px;
  position: relative;
  top: -20px;
  float: right;
  cursor: pointer;
}

#menu {
  display: none;
}



header {
  color: white;
  text-align: center;
  background-color: #15caac;
  box-shadow: 1px 1px 10px gray;
  padding: 50px 0px;
}

.project img {
  box-shadow: 1px 1px 5px lightgrey;
  cursor: pointer;
}

#home {
  padding-top: 45px;
}

#overlay {
  position: absolute;
  z-index: 1;
}

#project-view {
  z-index: 10;
  width: 0px;
  position: absolute;
  left: 100%;
  transition-property: left;
  transition-duration: 0.2s;
  color: white;
  overflow-y:auto;
  overflow-x: hidden;
  right:0px;
  bottom:0px
}

#project-info {
  margin-top: 50px;
}

#overlay {
  height: 101%;
  width: 100%;
  position: fixed;
  top: 0px;
  bottom: -1px;
  background: #000;
  opacity: .9;
  display: none;
  z-index: 9;
}

@media (max-width: 720px){

  header {
    padding: 0px;
  }

  #nav {
    padding-top: 30px;
    display: none;
    transition-duration: 0.5s;
    box-shadow: 0px 5px 5px -5px grey;
  }

  #nav li {
    float: none;
    padding: 5px 0px;
    margin-right: 0px;
  }

  #nav li:hover {
    background-color: rgba(0,0,0,0.35);
  }


  #nav ul {
    margin-bottom: 1rem;
    position: relative;
    top: 20px;
    float: none;
    margin-right: 0px;
    margin-left: 0px;
    clear: both;
  }

  #menu {
    display: block;
    text-transform: uppercase;
    font-weight: 300;
    float: right;
    position: fixed;
    top: 10px;
    z-index: 2;
  }

  #name {
    font-size: 2rem;
  }

  #nav {
    position: fixed;
    z-index: 2;
    left: 0px;
    right: 0px;
    top: 40px;
    padding: 0px 0px 30px;
    background-color: #15caac;
  }

  #job-title {
    font-size: 1rem;
  }

  #name.fix {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    background-color: #15caac;
    box-shadow: 0px 5px 5px -5px grey;
  }

  #job-title.collapse {
    display: none;
  }

  header.fix {
    padding-top: 40px;
  }

  header.fix.collapse {
    position: fixed;
    width: 100%;
  }
}

